$body-background: #026671;
$feedback-card-background: #cceddb;
$rating-background-good: #00a20d;
$rating-background-bad: #c25100;
$rating-headline: #003d05;
$warning-message: #003d3a;

$button-hover: #2c8733;
$button-select: #155c1b;
